
$base-cls: #{$prefix}corner-marker;

$postions: (
  up-right: (0 0 _ _),
  up-left: (0 _ _ 0),
  down-left: (_ _ 0 0),
  down-right: (_ 0 0 _)
);

$rotate: (
  up-right: 45deg,
  up-left: -45deg,
  down-left: 225deg,
  down-right: 135deg
);

.#{$base-cls} {
  display: inline-block;
  position: relative;
  overflow: hidden;
  @each $pos, $value in $postions {
    &.is-#{$pos} {
      @include absolute($value);
      z-index: 1;
      .#{$base-cls}__text {
        $rotateValue: map-get($rotate, $pos);
        transform: rotateZ($rotateValue);
      }
    }
  }
  .#{$base-cls}__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36px;
  }
  &__text {
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.7em;
    transform-origin: bottom center;
  }
}
