

.#{$prefix}divider {
  text-align: center;
  border-style: solid;
  border-width: 0;
  border-color: $color-divider;
  flex-shrink: 0;
  flex-grow: 0;
  &.is-horizontal {
    min-height: 1Px;
    @include divider(inherit, hair) {
      font-size: 28px;
      @include padding(_ 20px _ 20px);
    };
  }
  &.is-vertical {
    min-width: 1Px;
    @include hair-border(inherit, left);
  }
}
