.#{$prefix}carousel {
  &__stage-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1Px dashed grey;
      height: 100%;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 1Px dashed grey;
      width: 100%;
    }
  }
  &__stage {
    display: flex;
    flex-flow: row nowrap;
  }
  &-item {
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
  }
}
