$carousel-base-cls: #{$prefix}carousel;

.#{$carousel-base-cls} {
  position: relative;
  &__stage-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  &__stage {
    display: flex;
    &.is-horizontal {
      flex-flow: row nowrap;
    }
    &.is-vertical {
      flex-flow: column wrap;
    }
    &.is-overlay {
      position: relative;
      flex-flow: row nowrap;
    }
  }
  &__indicator {
    position: absolute;
    font-size: 0;
    &.is-horizontal {
      width: 100%;
      text-align: center;
      bottom: 12px;
      left: 0;
      .#{$carousel-base-cls}__indicator__dot {
        margin-left: 3Px;
        margin-right: 3Px;
      }
    }
    &.is-vertical {
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      right: 12px;
      top: 0;
      .#{$carousel-base-cls}__indicator__dot {
        margin-top: 3Px;
        margin-bottom: 3Px;
      }
    }
    &__dot {
      display: inline-block;
      transition: all 500ms ease;
      width: 6Px;
      height: 6Px;
      border-radius: 6Px;
      font-size: 0;
      background: rgba(255, 255, 255, 0.4);
      &.is-active {
        background: rgb(255, 255, 255);
      }
      &.is-dark {
        background: rgba(179, 190, 209, 0.2);
      }
      &.is-active.is-dark {
        background: rgba(179, 190, 209, 0.7);
      }
    }
  }
  &-item {
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
  }
}
