$prefix: ohu- !default;
$colorOrange: #ff9434 !default;
$colorRed: #ff2d31 !default;
$colorGreen: #36b365 !default;
$colorGrey: #eee !default;
$colorBlue: #2d7eff !default;
$colorGold: #DBB46E !default;
$colorPrimary: $colorBlue !default;
$colorTextBase: #333 !default;
$colorTextBaseInverse: #fff !default;
$colorTextMinor: #999 !default;
$colorTextDisabled: $colorGrey !default;
$colorTextWarn: $colorOrange !default;
$colorTextError: $colorRed !default;
$colorTextHighlight: $colorGreen !default;
$colorBackgroundBase: #f5f5f5 !default;
$colorBackgroundComponent: #f8f8f8 !default;
$colorDivider: $colorGrey !default;
$colorMask: rgba(0, 0, 0, 0.639) !default;
$colorBorderBase: #ccc !default;
$fontFamily: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif !default;
$fontSizeBase: 32px !default;
$gridUnits: 12 !default;
$gridGapLevel: 10 !default;
$gridGapRate: 8px !default;
$tagGreyColor: $colorTextBase !default;
$tagGreyBackground: $colorGrey !default;
$tagGreenColor: $colorGreen !default;
$tagGreenBackground: rgba($tagGreenColor, .15) !default;
$tagOrangeColor: $colorOrange !default;
$tagOrangeBackground: rgba(255, 148, 52, 0.15) !default;
$tagRedColor: $colorRed !default;
$tagRedBackground: rgba($tagRedColor, .15) !default;
$tagBlueColor: $colorBlue !default;
$tagBlueBackground: rgba($tagBlueColor, .15) !default;
$tagPrimaryColor: $colorPrimary !default;
$tagPrimaryBackground: rgba($tagPrimaryColor, .15) !default;
$tagOutlineBackground: $colorTextBaseInverse !default;
$tagBorderRadiusSm: 4 !default;
$tagBorderRadiusMd: 8 !default;
$tagBorderRadiusLg: 8 !default;
$tagPaddingSm: 0 12px !default;
$tagPaddingMd: 12px 24px !default;
$tagPaddingLg: 16px 40px !default;
$tagFontSizeSm: 24px !default;
$tagFontSizeMd: 24px !default;
$tagFontSizeLg: 28px !default;
$badgeDotSize: 12px !default;
$badgeTagSize: 32px !default;
$badgeTagFontSize: 24px !default;
$badgeCornerSize: 36px !default;
$badgeCornerFontSize: 24px !default;
$badgeTextColor: $colorTextBaseInverse !default;
$buttonColorPrimaryDisabled: rgba(47, 131, 255, .3) !default;
$buttonColorDefaultActive: #F5F5F5 !default;
$buttonColorPrimaryActive: #2773E3 !default;
$buttonColorPrimaryPlainActive: #73ABFF !default;
$buttonColorPlainDisabled: #CCC !default;
$buttonColorTranslucentActive: $buttonColorPrimaryPlainActive !default;
$buttonColorTranslucentBgActive: #C1DBFF !default;
$buttonColorTranslucentDisabled: rgba(47, 131, 255, 0.1) !default;
$buttonSizeNormal: 96px !default;
$buttonSizeMd: 80px !default;
$buttonSizeSm: 64px !default;
$cardBackground: #FFF !default;
$cardBoxShadow: 0px 4px 20px 0px rgba(153,153,153,0.2) !default;
$cardBorderRadius: 8px !default;
$cardContentPadding: 24px !default;
$cardHeaderFontSize: 32px !default;
$cardHeaderTopOffset: 22px !default;
$cardHeaderLeftOffset: 24px !default;
$cardHeaderExtraFontSize: 32px !default;
$cardHeaderExtraColor: $colorTextMinor !default;
$cardHeaderExtraErrorColor: $colorTextError !default;
$cardHeaderExtraSuccessColor: $colorTextHighlight !default;
$cardHeaderBoldFontSize: 36px !default;
$skeletonBackground: $colorBackgroundBase !default;
$tabbarBackground: rgba(255,255,255,0.9) !default;
$tabbarBorderColor: rgba(0, 0, 0, .25) !default;
$tabbarItemIndicatorColor: $colorPrimary !default;
$tabbarHeight: 98px !default;
$loadingTextColor: $colorTextMinor !default;
$popupRoundRadius: 16px !default;
$popupHeaderCloseButtonColor: #848C95 !default;
$popupHeaderBackground: #FFF !default;
$popupHeaderTextFontSize: 32px !default;
$popupHeaderColor: $colorTextBase !default;
$popupHeaderMinorTextColor: $colorTextMinor !default;
$popupHeaderMinorTextFontSize: 28px !default;
$popoverContentBackground: #4C4C4C !default;
$popoverArrowSize: 12px !default;
$popoverDividerColor: #6D6D6D !default;
$dropMenuItemOptionActiveColor: #F5F5F5 !default;
$dropMenuItemOptionsBoxShadow: 0px 2px 8px 0px rgba(153,153,153,0.2) !default;
$checkboxFontSize: $fontSizeBase !default;
$checkboxColor: #CCC !default;
$checkboxActiveColor: $colorPrimary !default;
$checkboxLabelColor: $colorTextBase !default;
$radioFontSize: $checkboxFontSize !default;
$radioColor: $checkboxColor !default;
$radioActiveColor: $checkboxActiveColor !default;
$radioLabelColor: $checkboxLabelColor !default;
$agreeColor: $colorTextBase !default;
$listItemPadding: 30px !default;
$listItemColor: $colorTextBase !default;
$listItemBorderColor: $colorDivider !default;
$listItemFontSize: $fontSizeBase !default;
$listItemTextLineHeight: 1.375em !default;
$listItemMinorTextFontSize: 26px !default;
$listItemMinorTextLineHeight: 1.384615em !default;
$listItemMinorTextColor: $colorTextMinor !default;
$listItemButtonActiveColor: $buttonColorDefaultActive !default;
$listItemThumbMargin: 24px !default;
$listItemAvatarSize: 88px !default;
$listItemAvatarMinWidth: 120px !default;
$listItemIconSize: 48px !default;
$listItemActionSize: 36px !default;
$listItenActionCheckSize: 32px !default;
$listSubheaderBackground: #EEE !default;
$listSubheaderColor: #999 !default;
$listBottomFontSize: 28px !default;
$listSubheaderFontSize: 28px !default;
$listSubheaderStickyColor: $colorPrimary !default;
$listSubheaderStickyBackground: $colorTextBaseInverse !default;
$listSubheaderStickyBoxShadow: 0 1Px 10Px 0 #eee !default;
$carouselDotBackground: rgba(255, 255, 255, 0.4) !default;
$carouselDotActiveBackground: rgb(255, 255, 255) !default;
$carouselDotDarkBackground: rgba(179, 190, 209, 0.2) !default;
$carouselDotDarkActiveBackground: rgba(179, 190, 209, 0.7) !default;
$carouselDotSize: 6Px !default;
$detailItemTitleColor: $colorTextMinor !default;
$detailItemContentColor: $colorTextBase !default;
$detailItemExtraColor: $colorTextMinor !default;
$imageErrorBackground: $colorBackgroundBase !default;
$imageErrorColor: $colorTextMinor !default;
$collapseExpandIconColor: #808080 !default;
$collapseContntColor: $colorTextMinor !default;
$collapseHeaderActiveColor: #F5F5F5 !default;
$collapseHeaderBackground: #FFF !default;
$formFontSize: 32px !default;
$formFieldControlPadding: 12px 0 !default;
$formFieldControlErrorPadding: 20px 0 !default;
$formFieldFontSize: 32px !default;
$formFieldBorderColor: $colorDivider !default;
$formFieldHeight: 100px !default;
$formFieldInlinePadding: 6px 0 6px 32px !default;
$formFieldBlockPadding: 0 32px !default;
$formFieldLineHeight: 88px !default;
$formFieldBackground: #FFF !default;
$formFieldLabelWidth: 25.6% !default;
$formFieldLabelColor: $colorTextBase !default;
$formFieldLabelPadding: 32px !default;
$formFieldErrorColor: $colorTextError !default;
$inputFontSize: 32px !default;
$inputLineHeight: 48px !default;
$inputTextAreaLineHeight: 42px !default;
$inputColor: $colorTextBase !default;
$inputDisabledColor: $colorTextMinor !default;
$inputBorderRadius: 8Px !default;
$inputBorderColor: $colorBorderBase !default;
$inputFocusBorderColor: rgba(45, 126, 255, 0.75) !default;
$inputPlaceholderColor: $colorTextMinor !default;
$inputAdornmentColor: $colorTextMinor !default;
$inputPadding: 20px 20px 20px 26px !default;
$inputPaddingWithAdornment: 20px !default;
$inputOutlinePadding: 20px 16px !default;
$inputOutlinePaddingWithAdornment: 20px !default;
$inputAdornmentFontSize: 32px !default;
$inputAdornmentMargin: 20px !default;
$selectFontSize: 32px !default;
$selectColor: $colorTextBase !default;
$selectBorderRadius: 8Px !default;
$selectBorderColor: $colorBorderBase !default;
$selectPlaceholderColor: $colorTextMinor !default;
$selectPopupBackground: #FFF !default;
$selectPopupHeaderBackground: #FFF !default;
$selectPopupHeaderColor: $colorTextBase !default;
$selectInputPadding: 20px 20px 20px 26px !default;
$selectInputOutlinePadding: 20px 16px !default;
$selectIconMargin: 20px !default;
$selectIconColor: $colorTextMinor !default;
$noticeBarDefaultBackground: #FEFCEB !default;
$noticeBarDefaultColor: $colorTextWarn !default;
$noticeBarWarningBackground: #FFF1F2 !default;
$noticeBarWarningColor: $colorTextError !default;
$noticeBarFontSize: 28px !default;
$noticeBarIconSize: 48px !default;
$noticeBarPadding: 10px !default;
$navBarHeight: 100px !default;
$navBarFontSize: 36px !default;
$navBarTitleLineHeight: 50px !default;
$navBarColor: $colorTextBase !default;
$navBarPrimaryBackground: $colorPrimary !default;
$navBarPrimaryColor: $colorTextBaseInverse !default;
$navBarPrimaryActiveBackground: #3c87ff !default;
$navBarBorderColor: $colorBorderBase !default;
$actionBarBackground: #FFF !default;
$actionBarPadding: 20px 32px !default;
$actionBarToolBarPadding: 8px 16px 12px 16px !default;
$actionBarFontSize: 32px !default;
$actionBarButtonGap: 22px !default;
$treeSelectLeftColor: $colorTextBase !default;
$treeSelectLeftBackground: $colorBackgroundBase !default;
$treeSelectLeftActiveColor: $colorTextBase !default;
$treeSelectLeftActiveBackground: #FFF !default;
$treeSelectItemPadding: 26px 32px 30px 32px !default;
$treeSelectItemFontSize: 32px !default;
$treeSelectRightColor: $colorTextBase !default;
$treeSelectRightBackground: #FFF !default;
$treeSelectRightActiveColor: $colorPrimary !default;
$treeSelectCollapseColor: $colorTextMinor !default;
$indexListBarWidth: 48px !default;
$indexListRightOffset: 4px !default;
$indexListZIndex: 3 !default;
$indexListTouchAreaWidth: 40px !default;
$indexListBarItemFontSize: 28px !default;
$indexListBarItemTopOffset: 4px !default;
$indexListBarItemBottomOffset: 4px !default;
$indexListBarItemWidth: 1.5em !default;
$indexListBarItemHeight: $indexListBarItemWidth !default;
$indexListBarItemLineHeight: $indexListBarItemHeight !default;
$indexListBarItemActiveColor: $colorPrimary !default;
$indexListBarItemBackground: transparent !default;
$indexListColor: $colorTextMinor !default;
$indexListBackground: transparent !default;
$indexListBarPressedBackground: $indexListBackground !default;
$indexListBarPressedColor: $indexListBarItemActiveColor !default;
$indexListBarLabelSize: 72px !default;
$indexListBarLabelColor: $colorTextBaseInverse !default;
$indexListBarLabelBackground: $colorPrimary !default;
$indexListBarLabelFontSize: 32px !default;
$fabMarginLeft: 32px !default;
$fabMarginRight: $fabMarginLeft !default;
$fabMarginTop: 40px !default;
$fabMarginBottom: $fabMarginTop !default;
$fabBtnShadow: 0 2Px 8Px 0 #7aadff !default;
$fabActionMargin: 22px !default;
$fabActionAnimateDelayStep: 50ms !default;
$fabActionTransition: all 300ms ease !default;
$fabMaskBackground: rgba(255, 255, 255, .9) !default;
$fabActionLabelMargin: 12px !default;
$fabActionLabelPadding: 6px 18px !default;
$fabActionLabelFontSize: 28px !default;
$fabActionLabelBorderRadius: 2Px !default;
$fabActionLabelLineHeight: 1.375em !default;
$fabActionLabelColor: $colorTextBase !default;
$fabActionLabelBackground: transparent !default;