.#{$prefix}toast {
  box-sizing: border-box;
  background: $color-mask;
  font-size: 32px;
  font-weight: 400;
  color: $color-text-base-inverse;
  padding: 18px 24px;
  border-radius: 8px;
  max-width: 72%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &__text {
    line-height: (44/32) * 1em;
    @include text-wrap;
  }
  >.#{$prefix}loading {
    font-size: 32px;
    flex: 0 0 auto;
  }
  >.#{$prefix}icon {
    font-size: 1.4em;
    flex: 0 0 auto;
    ~.#{$prefix}toast__text {
      margin-left: 16px;
    }
  }
}
