

.#{$prefix}agree {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 1.7em;
  height: 1.7em;
  align-self: flex-start;
  &-wrapper {
    font-size: 28px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    outline: none;
    &.is-disabled {
      >.#{$prefix}agree {
        cursor: not-allowed;
      }
      input {
        cursor: not-allowed;
      }
      .#{$prefix}icon {
        opacity: .4;
      }
      .#{$prefix}agree__label {
        color: $checkbox-color;
      }
    }
  }
  > .#{$prefix}icon {
    color: $checkbox-color;
    font-size: 1.3em;
    transition: all .4s easing(out-expo);
  }
  > input {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  &__label {
    padding-left: 12px;
    font-size: 1em;
    font-weight: 400;
    color: $color-text-base;
    flex: 1 1 0%;
    line-height: 1.6em;
    a {
      color: $color-primary;
    }
  }
}
