.#{$prefix}popup-wrapper.is-scrollable {
  .#{$prefix}dialog {
    max-height: fit-content;
  }
}
.#{$prefix}dialog {
  width: 72%;
  background: $color-text-base-inverse;
  border-radius: 8px;
  margin: 48px;
  max-height: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  &__footer {
    flex: 0 0 auto;
  }
  &__actions {
    display: flex;
    &.is-row {
      flex-flow: row nowrap;
      > .#{$prefix}btn {
        flex: 1;
      }
      > .#{$prefix}divider {
        width: 1Px;
        flex-shrink: 0;
      }
    }
    &.is-column {
      flex-flow: column wrap;
    }
  }
  &__body {
    padding: 32px 0;
    color: $color-text-base;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__icon {
      padding: 0 32px;
      text-align: center;
      font-size: 76px;
      margin-bottom: 24px;
      flex: 0 0 auto;
    }
    &__title {
      padding: 0 32px;
      margin: 0;
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 1.2em;
      margin-bottom: 20px;
      flex: 0 0 auto;
    }
    &__content {
      padding: 0 32px;
      margin: 0;
      text-align: center;
      font-weight: 400;
      line-height: (44/28) * 1em;
      font-size: 28px;
      word-wrap: break-word;
      white-space: pre-wrap;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      flex: 1 1 auto;
    }
  }
}
