@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;
@keyframes icon-aniamte-rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

$iconPrefixClass: #{$prefix}icon;

.#{$iconPrefixClass} {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentColor;
  text-transform: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.is-spin {
    animation: icon-aniamte-rotate 1s linear infinite;
  }
}
