@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;
$imagePrefixClass: #{$prefix}image;

.#{$imagePrefixClass} {
  display: inline-block;
  &.is-round {
    overflow: hidden;
  }
  > div {
    width: 100%;
    height: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__placeholder {
    width: 100%;
    height: 100%;
  }
  &__error {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: $skeletonBackground;
    color: $colorTextMinor;
    font-size: 28px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}
