$skeleton-scan-start-color: lighten($skeleton-bg, 3%);
$skeleton-scan-end-color: $skeleton-bg;

@keyframes skeleton-scan-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

$skeleton-blink-start-color: darken($skeleton-bg, 3%);
$skeleton-blink-end-color: $skeleton-bg;
@keyframes skeleton-blink-loading {
  0% {
    background: $skeleton-blink-start-color;
  }
  50% {
    background: $skeleton-blink-end-color;
  }
  100% {
    background: $skeleton-blink-start-color;
  }
}
$skeleton-base-cls: #{$prefix}skeleton;
.#{$skeleton-base-cls} {
  display: block;
  background: $skeleton-bg;
  &--compound {
    display: flex;
    flex-flow: row nowrap;
  }
  &__content {
    flex-grow: 1;
    padding-top: 6px;
    margin-left: 36px;
  }
  // ==================== shape =======================
  &.is-circle {
    border-radius: 50%;
  }
  &.is-avatar {
    width: 88px;
    height: 88px;
  }
  &.is-title {
    height: 36px;
    + .is-row {
      margin-top: 32px;
    }
  }
  &.is-row {
    height: 28px;
    + .is-row {
      margin-top: 24px;
    }
  }
  // ==================== aniamte =======================
  &.is-scan {
    background-image: linear-gradient(90deg, $skeleton-scan-end-color 8%, $skeleton-scan-start-color 28%, $skeleton-scan-end-color 50%);
    background-size: 200% 100%;
    animation: skeleton-scan-loading 2s infinite;
    animation-timing-function: easing(in-cubic);
  }
  &.is-blink {
    animation: skeleton-blink-loading 2s ease infinite;
  }
}
