
.#{$prefix}dropmenu {
  position: relative;
  &__inner {
    background: $color-text-base-inverse;
    display: flex;
    flex-flow: row nowrap;
    .#{$prefix}divider::before {
      top: 24px;
      bottom: 24px;
    }
  }
  &-item {
    @include tap-component();
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    font-size: 28px;
    line-height: (36/28) * 1em;
    color: $color-text-base;
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: $color-text-base-inverse;
    @include ellipsis();
    &:active {
      opacity: .7;
    }
    &.is-active {
      > * {
        color: $color-primary;
      }
    }
    &.is-disabled {
      opacity: .3;
      .#{$prefix}dropmenu-item:active {
        opacity: .3;
      }
    }
    &__text {
      line-height: 1.2;
    }
    &__icon {
      font-size: 1.2em;
      color: $color-border-base;
      margin-left: 24px;
      transition: transform 300ms ease;
      &.is-up {
        transform: rotate(180deg);
      }
    }
    &-options {
      width: 100%;
      background: $color-text-base-inverse;
    }
    &-option {
      padding: 30px;
      font-size: 28px;
      color: $color-text-base;
      line-height: (36/28) * 1em;
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;
      align-items: center;
      @include tap-component();
      &:active {
        background: #F5F5F5;
      }
      &.is-active {
        color: $color-primary;
      }
      &.is-disabled {
        opacity: .3;
        &:active {
          background: $color-text-base-inverse;
          color: $color-text-base;
        }
      }
    }
  }
}
