$detail-text-title-color: $color-text-minor;
$detail-text-content-color: $color-text-base;
$detail-text-extra-color: $color-text-minor;

$detail-item-base-cls: #{$prefix}detail-item;

.#{$detail-item-base-cls} {
  min-height: 56px;
  line-height: 56px;
  font-size: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: $detail-text-title-color;
  &.is-unactive {
    .#{$detail-item-base-cls}__content {
      color: $detail-text-title-color;
    }
  }
  &__title {
    flex-shrink: 0;
    color: $detail-text-title-color;
  }
  &__content {
    color: $detail-text-content-color;
    margin-left: 8px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    &__inner {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__extra {
    color: $detail-text-extra-color;
    font-size: 24px;
    line-height: 1.333333333em;
  }
}
