@import '../../_styles/variables.scss';
@import '../../_styles/mixins.scss';
$listPrefixClass: #{$prefix}list;

.#{$listPrefixClass} {
  list-style: none;
  margin: 0;
  padding: 0;
  &__bottom {
    line-height: 2.5em;
    text-align: center;
    font-size: $listBottomFontSize;
    color: $colorTextMinor;
    .#{$prefix}loading {
      vertical-align: middle;
      font-size: $listBottomFontSize;
    }
    > .#{$prefix}skeleton, > .#{$prefix}skeleton--compound {
      padding: $listItemPadding;
    }
  }
  &-subheader {
    padding: 0 $listItemPadding;
    color: $listSubheaderColor;
    background: $listSubheaderBackground;
    z-index: 2;
    line-height: 2em;
    font-size: $listSubheaderFontSize;
    transition: all .5s ease;
    &.is-sticky {
      color: $listSubheaderStickyColor;
      background: $listSubheaderStickyBackground;
      box-shadow: $listSubheaderStickyBoxShadow;
    }
  }
}

@import './item.scss';

