$listItemPrefixClass: #{$listPrefixClass}-item;

.#{$listItemPrefixClass} {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-width: 0;
  border-style: solid;
  border-color: $colorDivider;
  padding: $listItemPadding;
  font-size: 32px;
  line-height: (44/32) * 1em;
  color: $colorTextBase;
  &.has-divider {
    @include hair-border(inherit, bottom);
  }
  &.has-divider-padding {
    &:after {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  &.has-action {
    justify-content: space-between;
  }
  &.is-button {
    @include tap-component;
    &:active {
      background: $buttonColorDefaultActive;
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: .4;
    &:active {
      background: unset;
    }
  }
  &__main {
    flex-grow: 1;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  &-thumb {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
    img {
      display: block;
      width: 192px;
    }
  }
  &-avatar {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    font-size: 88px;
    min-width: 120px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    img {
      display: block;
      width: 88px;
    }
  }
  &-icon {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 34px;
    .is-group-item {
      margin-right: 32px;
    }
    > .#{$prefix}icon {
      font-size: 48px;
      margin-right: 48px;
    }
  }
  &-text {
    &__primary {
      font-size: 32px;
      color: $colorTextBase;
      line-height: (44 / 32) * 1em;
    }
    &__minor {
      margin: 0;
      font-size: 26px;
      line-height: (36/26) * 1em;
      color: $colorTextMinor;
      margin-top: 10px;
    }
  }
  &-action {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 0 0 30px;
    font-size: 36px;
    width: 1.3333333em;
    height: 1.333333em;
    > label.is-group-item {
      font-size: 32px;
      margin-right: 0;
    }
  }
}
