
@mixin abs-center($direction) {
  position: absolute;
  @if $direction == y {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == x {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == _ {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@mixin -inner-selectors($inners) {
  @each $item in $inners {
    @if $item != _ {
      $selector: unquote($item);
      & > #{$selector} {
        @content;
      }
    }
  }
}

/// @group layout
@mixin center($direction: _, $type: absolute, $inners...) {
  $inner-exists: (type-of($inners) == arglist and length($inners) > 0);
  @if $type == absolute {
    @if $inner-exists {
      @include -inner-selectors($inners) {
        @include abs-center($direction);
      };
    } @else {
      @include abs-center($direction);
    }
  }
  @if $type == inline-block {
    @if not $inner-exists {
      @error "inline-block mode must have inner selectors.";
    }
    @if $direction == x or $direction == _ {
      text-align: center;
      @include -inner-selectors($inners) {
        display: inline-block;
      }
    }
    @if $direction == y or $direction == _ {
      @include -inner-selectors($inners) {
        display: inline-block;
        vertical-align: middle;
      }
      &::before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        // margin-right: -.25em;
      }
    }
  }
}

/// @group layout
@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/// @group layout
@mixin ratio-box($ratio: 1) {
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    display: block;
    height: 0;
    padding-top: percentage(1 / $ratio);
  }
}
