@import '../../_styles/variables.scss';
@import '../../_styles/mixins.scss';
$popoverPrefixClass: #{$prefix}popover;

.#{$popoverPrefixClass} {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  &__arrow {
    position: absolute;
  }
  &.is-top {
    padding-bottom: $popoverArrowSize;
    .#{$popoverPrefixClass}__arrow {
      margin-left: -$popoverArrowSize;
      @include triangle(up, $popoverArrowSize, $popoverContentBackground);
    }
  }
  &.is-center-left {
    padding-right: $popoverArrowSize;
    .#{$popoverPrefixClass}__arrow {
      margin-top: -$popoverArrowSize;
      @include triangle(left, $popoverArrowSize, $popoverContentBackground);
    }
  }
  &.is-center-right {
    padding-left: $popoverArrowSize;
    .#{$popoverPrefixClass}__arrow {
      margin-top: -$popoverArrowSize;
      @include triangle(right, $popoverArrowSize, $popoverContentBackground);
    }
  }
  &.is-bottom {
    padding-top: $popoverArrowSize;
    .#{$popoverPrefixClass}__arrow {
      margin-left: -$popoverArrowSize;
      @include triangle(down, $popoverArrowSize, $popoverContentBackground);
    }
  }
  &__content {
    background: $popoverContentBackground;
    border-radius: 8px;
    color: $colorTextBaseInverse;
    font-weight: 400;
    font-size: 32px;
  }
}

$popoverItemPrefixClass: #{$popoverPrefixClass}-item;
$popoverItemHeight: 102px;

.#{$popoverItemPrefixClass} {
  @include mobile-btn-init();
  box-sizing: border-box;
  position: relative;
  font-size: 32px;
  line-height: (44/32) * 1em;
  font-weight: 400;
  &:active {
    opacity: .5;
  }
  &.is-disabled {
    color: $colorTextMinor;
  }
  > .#{$prefix}divider {
    margin-left: 100px;
  }
  &__content {
    position: relative;
    padding-left: $popoverItemHeight;
    height: $popoverItemHeight;
    z-index: 1;
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: $popoverItemHeight;
    height: 100%;
    font-size: 38px;
    text-align: center;
    line-height: $popoverItemHeight;
    > .#{$prefix}icon {
      vertical-align: -.2em;
    }
  }
  &__text {
    padding: 30px 30px 30px 0;
    position: relative;
    @include ellipsis();
  }
}
