
.basic-demo-item {
  height: 200px;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  background: rgb(45, 126, 255);
}
.basic-demo-operations {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 10px;
  }
}
.vertical-demo-item {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 60px;
  text-align: center;
  background: rgb(45, 126, 255);
}
