@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;

$actionBarPrefixClass: #{$prefix}action-bar;

.#{$actionBarPrefixClass} {
  padding: $actionBarPadding;
  display: flex;
  flex-flow: row nowrap;
  &-wrapper {
    background: $actionBarBackground;
  }
  &__text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
    font-size: $actionBarFontSize;
  }
  &.is-normal {
    .#{$prefix}btn {
      flex: 1;
      &:nth-of-type(n+2) {
        margin-left: $actionBarButtonGap;
      }
    }
    .#{$actionBarPrefixClass}__text {
      flex: 1;
    }
  }
  &.is-toolbar {
    justify-content: space-between;
    padding: $actionBarToolBarPadding;
    .#{$prefix}btn {
      font-size: $actionBarFontSize;
    }
  }
}
