@use 'sass:math';
@use '../../_styles/variables' as *;
@use "pkg:@ohu-mobile/styles" as *;
@use '../../_styles/mixins' as *;


$tagPrefixClass: #{$prefix}tag;

.#{$tagPrefixClass} {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  &__text {
    display: inline-block;
    white-space: nowrap;
  }
  .#{$prefix}icon {
    @include center(y);
  }
  &.is-disabled {
    opacity: .4;
    &[role="button"] {
      cursor: not-allowed;
    }
  }
  // ================= size =================
  &.is-sm {
    padding: $tagPaddingSm;
    font-size: $tagFontSizeSm;
    .#{$tagPrefixClass}__text {
      font-size: $tagFontSizeSm;
      line-height: math.div(32, 20) * 1em;
      transform: scale(0.833333, 0.833333);
      transform-origin: center center;
    }
    .#{$prefix}icon {
      font-size: $tagFontSizeSm;
      right: .5em;
    }
    &[role="button"] {
      padding-right: 1.5em;
    }
  }
  &.is-md {
    padding: $tagPaddingMd;
    font-size: $tagFontSizeMd;
    line-height: math.div(34, 24) * 1em;
    .#{$prefix}icon {
      font-size: 1.1666666667em;
      right: .642857em;
    }
    &[role="button"] {
      padding-right: 2.333333333em;
    }
  }
  &.is-lg {
    padding: $tagPaddingLg;
    font-size: $tagFontSizeLg;
    line-height: math.div(40, 28) * 1em;
    .#{$prefix}icon {
      font-size: 1.1429em;
      right: .75em;
    }
    &[role="button"] {
      padding-right: 2.28571em;
    }
  }
  // ================= shape =================
  &.is-square {
    &.is-sm {
      border-radius: $tagBorderRadiusSm * 1px;
    }
    &.is-md {
      border-radius: $tagBorderRadiusMd * 1px;
    }
    &.is-lg {
      border-radius: $tagBorderRadiusLg * 1px;
    }
  }
  &.is-fillet {
    &.is-sm {
      border-radius: 0 $tagBorderRadiusSm * 1px;
    }
    &.is-md {
      border-radius: 0 $tagBorderRadiusMd * 1px;
    }
    &.is-lg {
      border-radius: 0 $tagBorderRadiusLg * 1px;
    }
  }
  // ================= color ================
  &.is-solid {
    &.is-grey {
      color: $tagGreyColor;
      background: $tagGreyBackground;
    }
    &.is-green {
      color: $tagGreenColor;
      background: $tagGreenBackground;
    }
    &.is-orange {
      color: $tagOrangeColor;
      background: $tagOrangeBackground;
    }
    &.is-red {
      color: $tagRedColor;
      background: $tagRedBackground;
    }
    &.is-blue {
      color: $tagBlueColor;
      background: $tagBlueBackground;
    }
    &.is-primary {
      color: $tagPrimaryColor;
      background: $tagPrimaryBackground;
    }
  }
  &.is-outline {
    background: $tagOutlineBackground;
    &.is-grey {
      color: $tagGreyColor;
      @include hair-border($tagGreyBackground, all);
      .#{$prefix}icon {
        color: $tagGreyColor;
      }
    }
    &.is-green {
      color: $tagGreenColor;
      @include hair-border($tagGreenColor, all);
    }
    &.is-orange {
      color: $tagOrangeColor;
      @include hair-border($tagOrangeColor, all);
    }
    &.is-red {
      color: $tagRedColor;
      @include hair-border($tagRedColor, all);
    }
    &.is-blue {
      color: $tagBlueColor;
      @include hair-border($tagBlueColor, all);
    }
    &.is-primary {
      color: $tagPrimaryColor;
      @include hair-border($tagPrimaryColor, all);
    }
    &.is-sm:after {
      border-radius: $tagBorderRadiusSm * 1Px;
    }
    &.is-md:after {
      border-radius: $tagBorderRadiusMd * 1Px;
    }
    &.is-lg:after {
      border-radius: $tagBorderRadiusLg * 1Px;
    }
  }
}
