@use '../../_styles/variables' as *;
@use "pkg:@ohu-mobile/styles" as *;
@use '../../_styles/mixins' as *;

$bottomPrefixClass: #{$prefix}bottom;

.#{$bottomPrefixClass} {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @include safe-bottom();
}
