// tag
$tag-bg-orange: rgba(255, 185, 76, 0.149 ) !default;
$tag-bg-blue: rgba(47, 131, 255, 0.102) !default;
// corner-marker
$cmarker-bg-grey: rgba(135, 147, 174, 0.302) !default;
$cmarker-bg-red: rgba(255, 72, 77, 0.149) !default;
$cmarker-bg-gold: #DBB46E;
$cmarker-text-red: rgba(255, 45, 49, 0.75) !default;

// button
$button-color-primary-disabled: rgba(47, 131, 255, .3) !default;
$button-color-default-active: #F5F5F5 !default;
$button-color-primary-active: #2773E3 !default;
$button-color-primary-plain-active: #73ABFF !default;
$button-color-plain-disabled: #CCC !default;
$button-color-translucent-active: $button-color-primary-plain-active !default;
$button-color-translucent-bg-active: #C1DBFF !default;
$button-color-translucent-disabled: rgba(47, 131, 255, 0.1) !default;

$btn-size-normal: 96px !default;
$btn-size-md: 80px !default;
$btn-size-sm: 64px !default;


// card
$card-bg: #FFF !default;

// skeleton
$skeleton-bg: $color-bg-base !default;
