@import './lib/all';

@mixin rem-vw-responsive(
  $design-width: 750px,
  $root-value: 75px,
  $breakpoints: (0, 320px, 375px, 393px, 411px, 414px, 480px, 540px, 640px, 720px, 768px),
) {
  $breaknums: length($breakpoints);
  $max-width: nth($breakpoints, $breaknums);
  $units: $design-width / $root-value;
  $base-font-size: $units * 1vw;
  html {
    font-size: $base-font-size;
    $index: 1;
    @media screen {
      @each $bk in $breakpoints {
        @if $index < $breaknums {
          $next-bk: nth($breakpoints, $index + 1);
          $min: if($bk == 0, 1, $bk + 1);
          @include between($min, $next-bk) {
            font-size: $next-bk / 10;
            font-size: $base-font-size;
          }
        } @else {
          @include above($bk + 1) {
            font-size: $bk / 10;
          }
        }
        $index: $index + 1;
      }
    }
  }
  body {
    max-width: $max-width;
    font-size: 16px;
    margin: 0 auto;
  }
}

@mixin tap-component {
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  // for mobile outline is useless
  outline: none;
}

@mixin mobile-btn-init {
  @include tap-component();
  white-space: nowrap;
  border: none;
  transition: all .3s;
  overflow: visible;
  font-family: $font-family;
}

@mixin checkbase($name, $color) {
  .#{$prefix}#{$name} {
    position: relative;
    &-wrapper {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      @include tap-component;
      &.is-group-item {
        margin-right: 12px;
      }
      &.is-disabled {
        cursor: not-allowed;
        input {
          cursor: not-allowed;
        }
        .#{$prefix}icon {
          opacity: .4;
        }
        .#{$prefix}checkbox__label {
          color: $color;
        }
      }
    }
    > input {
      top: 0;
      left: 0;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }
    > .#{$prefix}icon {
      color: $color;
      font-size: 1.4em;
      transition: all .4s easing(out-expo);
    }
    &__label {
      padding-left: 12px;
      padding-right: 12px;
      font-size: 1em;
      font-weight: 400;
      color: $color-text-base;
    }
  }
}
