

.#{$prefix}divider {
  text-align: center;
  border-style: solid;
  border-width: 0;
  border-color: $color-divider;
  @include divider(inherit, hair) {
    font-size: 28px;
    @include padding(_ 20px _ 20px);
  };
}
