@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;
$tabsPrefixClass: #{$prefix}tabs;
$tabPrefixClass: #{$prefix}tab;

.#{$tabsPrefixClass} {
  display: block;
  .#{$prefix}sticky {
    width: 100%;
    z-index: 1;
  }
  .#{$prefix}tabbar {
    width: 100%;
    background: #FFF;
  }
  &__panels {
    width: 100%;
    position: relative;
    z-index: 0;
    flex: 1;
  }
}

.#{$tabPrefixClass} {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
