@use 'sass:math';
@use '../../_styles/variables' as *;
@use "pkg:@ohu-mobile/styles" as *;
@use '../../_styles/mixins' as *;
$resultPrefixClass: #{$prefix}result;
.#{$resultPrefixClass} {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__icon {
    font-size: 100px;
    pointer-events: none;
  }
  &__title {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    line-height: math.div(44, 32) * 1em;
    font-size: 32px;
    margin: 32px 0 0 0;
    font-weight: 400;
    padding: 0 20px;
    color: $colorTextBase;
    @include text-wrap;
  }
  &__subtitle {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: $colorTextMinor;
    margin: 12px 0 10px 0;
  }
  &__extra {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    > .#{$prefix}btn {
      min-width: 40%;
    }
    > * {
      margin-right: 50px;
      margin-bottom: 30px;
    }
    > *:last-child {
      margin-right: 0;
    }
  }
}
