
.#{$prefix}tabbar {
  box-sizing: border-box;
  height: 98px;
  display: flex;
  flex-flow: row nowrap;
  &.has-border {
    border-color: $tabbar-border-color;
    border-style: solid;
    border-width: 0;
    @include hair-border(inherit);
  }
  .#{$prefix}entry-item {
    flex: auto;
  }
}
