$base-popover-cls: #{$prefix}popover;
$popup-arrow-size: 10px;

.#{$base-popover-cls} {
  position: relative;
  &__arrow {
    position: absolute;
  }
  &.is-top {
    margin-left: -10px;
    padding-bottom: $popup-arrow-size;
    .#{$base-popover-cls}__arrow {
      @include triangle(up, $popup-arrow-size, $popover-content-bg);
    }
  }
  &.is-center-left {
    margin-top: -10px;
    padding-right: $popup-arrow-size;
    .#{$base-popover-cls}__arrow {
      @include triangle(left, $popup-arrow-size, $popover-content-bg);
    }
  }
  &.is-center-right {
    margin-top: -10px;
    padding-left: $popup-arrow-size;
    .#{$base-popover-cls}__arrow {
      @include triangle(right, $popup-arrow-size, $popover-content-bg);
    }
  }
  &.is-bottom {
    margin-left: -10px;
    padding-top: $popup-arrow-size;
    .#{$base-popover-cls}__arrow {
      @include triangle(down, $popup-arrow-size, $popover-content-bg);
    }
  }
  &__content {
    background: $popover-content-bg;
    border-radius: 8px;
    color: $color-text-base-inverse;
    font-weight: 400;
    font-size: 32px;
  }
}
