$base-popover-cls: #{$prefix}popover;

.#{$base-popover-cls} {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  &__arrow {
    position: absolute;
  }
  &.is-top {
    padding-bottom: $popover-arrow-size;
    .#{$base-popover-cls}__arrow {
      margin-left: -$popover-arrow-size;
      @include triangle(up, $popover-arrow-size, $popover-content-bg);
    }
  }
  &.is-center-left {
    padding-right: $popover-arrow-size;
    .#{$base-popover-cls}__arrow {
      margin-top: -$popover-arrow-size;
      @include triangle(left, $popover-arrow-size, $popover-content-bg);
    }
  }
  &.is-center-right {
    padding-left: $popover-arrow-size;
    .#{$base-popover-cls}__arrow {
      margin-top: -$popover-arrow-size;
      @include triangle(right, $popover-arrow-size, $popover-content-bg);
    }
  }
  &.is-bottom {
    padding-top: $popover-arrow-size;
    .#{$base-popover-cls}__arrow {
      margin-left: -$popover-arrow-size;
      @include triangle(down, $popover-arrow-size, $popover-content-bg);
    }
  }
  &__content {
    background: $popover-content-bg;
    border-radius: 8px;
    color: $color-text-base-inverse;
    font-weight: 400;
    font-size: 32px;
  }
}
