@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;
$lazyloadPrefixClass: #{$prefix}lazyload;
.#{$lazyloadPrefixClass} {
  position: relative;
  &-fade-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .4s .3s;
  }
  &-fade-leave-active {
    transition: opacity .7s;
  }
  &-fade-enter, &-fade-leave-to {
    opacity: 0;
  }
  > div {
    width: 100%;
  }
}
