@import '../../_styles/variables.scss';
@import '../../_styles/mixins.scss';
$maskPrefixClass: #{$prefix}mask;

.#{$maskPrefixClass} {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $colorMask;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  // need compatible
  &.is-frosted {
    backdrop-filter: blur(20Px);
  }
}


$popupPrefixClass: #{$prefix}popup;
.#{$popupPrefixClass} {
  -webkit-tap-highlight-color: transparent;
  &.is-fullscreen {
    width: 100%;
    height: 100%;
  }
  &.is-round {
    border-radius: $popupRoundRadius $popupRoundRadius 0 0;
    overflow: hidden;
  }
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.is-tap-through {
      pointer-events: none;
    }
    &.is-scrollable {
      overscroll-behavior-y: contain;
      overflow: auto;
      text-align: center;
      align-items: flex-start;
      &::after {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .#{$prefix}popup {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
      }
    }
    &.has-position {
      display: flex;
      flex-flow: row nowrap;
    }
    &.is-x-center {
      justify-content: center;
    }
    &.is-y-center {
      align-items: center;
    }
    &.is-x-left {
      justify-content: flex-start;
    }
    &.is-x-right {
      justify-content: flex-end;
    }
    &.is-y-top {
      align-items: flex-start;
    }
    &.is-y-bottom {
      align-items: flex-end;
    }
  }
}

@import './popup-header.scss';
