// utils module

// Get two number's common divisor
// @param $n1 Integer
// @param $n2 Integer
@function getCommonDivisor ($n1, $n2) {
  $target: if($n1 > $n2, $n1, $n2);
  @if $n1 == $n2 {
    @return $n2;
  }
  $result: 1;
  @for $i from 2 through ceil($target / 2) {
    @if $n1 % $i == 0 and $n2 % $i == 0 {
      $result: $i;
    }
  }
  @return $result;
}